#cart-page{
    display: flex;
    flex-direction: column;
    height: 100%;

    margin-left: 6vw;
    margin-right: 6vw;

    margin-bottom: 10vh;

    #main-block{
        flex-grow: 1;
    }

    #buttons-block{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-content: flex-end;
        margin-bottom: 4vw;
    }

}