.product-card{

    margin-left: 0;
    margin-right: 0;

    .product-card-content{
        display: flex;
        flex-direction: row;    
    }

    .product-image-block{
        display: flex;

        .product-image{
            height: 10vh;
            width: 20vw;
            object-fit: contain;
        }
    }

    .product-detail-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        margin-left: 2vw;

        .product-title{
            font-weight: bold;
        }

        .product-qte{
            display: flex;
            align-items: center;
        }
    }
}