.product-card2{
    width: 100%;

    margin-top: 1vh;
    margin-bottom: 2vh;
    
    --color: #222;  

    .product-card-content{
        display: flex;
        flex-direction: row;
        
        padding-bottom: 0;
        padding-left: 0;
        padding-top: 0;

        .product-image-block{
            display: flex;
    
            .product-image{
                height: 10vh;
                width: 20vw;
            }
        }
    
        .product-detail-block{
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            margin-left: 2vw;
    
            .product-title{
                font-weight: bold;
            }
           
        }
    
        .product-add-to-cart{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}