#order-page{

    display: flex;
    flex-direction: column;
    height: 100%;

    
    #order-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;
    }
    
    #check-list{
        flex-grow: 1;
    }

    #order-done-button-block{
        background-color: grey;
        text-align: center;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    
}