.product-detail-cart{

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-radius: 4vh;
    border: 0px solid transparent;

    min-height: 40vh;
    margin: 8vh 4vh 4vh 4vh;
    padding: 0vh 2vh 2vh 2vh;

    img{
        height: 20vh;
        object-fit: contain;
        object-position: top;
        margin-top: -4vh;
        border-radius: 3vh;
    }

    h1{
        text-align: center;
        font-size: 1.3em;
        margin-bottom: 0vh;
    }   

    p{
        font-size: 0.9em;
        color: #303030;
    }

    h2{
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
    }

}